header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.logo-mobile {
  display: block;
}
.logo-desktop {
  display: none;
}

nav {
  display: none;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-link {
  list-style: none;
}

.list-link li {
  margin: 16px 0;
}

.list-link li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
  nav {
    display: block;
  }

  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .navigation-menu li {
    margin: 0;
  }

  .list-link li a {
    color: var(--text-secondary-color);
    font-weight: var(--menu-text-weight);
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }
    .navigation-menu a:hover {
       color: var(--primary-color);




    }



}

@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}
